<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <link rel='stylesheet' href="{{ url_for('static', filename='css/content.css')}}">
    </head> 
    
    <body>
      <div class=div>
        <div id=conDiv>
          <h4>게시글</h4>
          <table id=conTable>
          </table>
        </div>
        <div id=replyTotalDiv>
          <div id=replyDiv2 class='replyDiv2'>
  
            <span id='spanH4'>
              <h4>댓글</h4>
              <input type='hidden' id='boardCommentPId' value='0'/>
            </span>
          <div>
            <textarea id=textArea></textarea>
            <input type='button' id='commentBtn' value='댓글달기'>
            <!-- <table id=reTable>
            </table> -->
          </div>
          </div>
          
          <div id=replyDiv>
            <table id=reTable>
            </table>  
          </div>
        </div>

      </div>
      <script> let contentData = {{data | tojson}}</script>
      <script> let sessionVal = {{ session | tojson}} </script>
      <script type="text/javascript" src="/static/js/content.js"></script>
    </body>
</html>